apiVersion: v1
kind: Service
metadata:
  name: {{ include "literature-review-service.fullname" . }}-server
  labels:
    {{- include "literature-review-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "literature-review-service.serverSelectorLabels" . | nindent 4 }}
